<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <%- include common%>
</head>

<body>
    <%- include("head",{title:"武汉千锋h51909/home"})%>


        <h1>
            <%= title %>
        </h1>
        <h3>
            <%- word%>
        </h3>
        <p>Welcome to
            <%= title %>
        </p>
        <!-- 这是我们经常用到的注释 -->



        <%- include("footer")%>
            <%- include footer%>

</body>

</html>