<h2 class="text-info">学生个人主页 </h2>
<ul class="nav nav-tabs">
    <li role="presentation" class="<%- type=='score'?'active':'' %>"><a href="/student">查看分数</a></li>
    <li role="presentation" class="<%- type=='shen'?'active':'' %>"><a href="/student/stu_shen">提交申请</a></li>
    <li role="presentation" class="<%- type=='today'?'active':'' %>"><a href="/student/stu_today">今日寄语</a></li>
    <li role="presentation" class="<%- type=='updatemsg'?'active':'' %>"><a href="/student/stu_updatemsg">修改信息</a></li>
    <li role="presentation" class="<%- type=='pwd'?'active':'' %>"><a href="/student/stu_resetpwd">重置密码</a></li>
</ul>